#calculator_app {
  width: 450px;
  height: 300px;
  margin: 30px auto;
}

#result {
  width: 100%;
  height: 25%;
  padding: 4px 8px;
  text-align: right;
  font-size: 1.5em;
  border: 1px solid silver;
  border-bottom-width: 0;
  box-sizing: border-box;
}

#buttons {
  width: 100%;
  height: 75%;
  border-spacing: 0;
  border-collapse: collapse;
}

#buttons td {
  width: 25%;
  text-align: center;
  border: 1px solid silver;
}

#buttons td:hover {
  background-color: whitesmoke;
}

@media screen and (min-device-width: 0px) and (max-device-width: 1023px) {
  html, body, #calculator_app {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
}
